*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: "Poppins", sans-serif;
}

    /* ==============
        Header area 
        ================  */

#header-area{
    display: flex;
    background-color:#42464b;
    justify-content: space-around;
    align-items: center;
}

.logo-design img{
  width:140px;
}


.navigation{
    text-align: right;
}
.navigation ul{
    list-style: none;
}
.navigation li{
    display: inline;
    margin-left: 20px;
}
.navigation a{
    color: azure;
    padding: 7px 13px;
    text-decoration: none;
    font-size: 14px;
    transition: all .2s ease-in;
    
}
.navigation a:hover{
    background-color: darkorange;
    border-radius: 7px;
}       

    /*  ===========
    Hero section area
    =============  */
#container{
    background-image:url("images/pexels-photo-3890564.jpg");
    padding: 8rem 0 8rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.left-side{    
    width: 76%;
    margin: 0 auto;
}
.left-side h1{
    font-size: 3rem;
    letter-spacing: 3px;
}
.left-side p{
    width: 74%;
    line-height: 2rem;
    font-size: 19px;
    margin: 10px 0;

}
.left-side button{
    font-size: 16px;
    background-color: rgb(46, 33, 59);
    padding: 8px 14px;
    border-radius: 7px;
    border: none;
    color: bisque;
    cursor: pointer;
    box-shadow: 0 0 1px 1px whitesmoke;
    transition: all .4s ease-in;
}
.left-side button:hover{
    background-color:#feca57;
    color: black;
}
    /* About section area style */

.about{
    background-color: #82ccdd;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5rem 0 3rem 12rem;

}
.about-section{
    flex-basis: 50%;
}
.about-section > h1{
    font-size: 22px;
    color: black;
    letter-spacing: 2px;
    margin-bottom: 1.25rem;
    justify-content: center;
}
.about-section > p{
    font-size: 16px;
    color:black;
    margin-bottom: 2rem;
}
.picture{
    width: 12rem;
    opacity: 0.8;
}
.about-section > img{
    width: 60%;
    border-radius: 5%;
}
.details{
    flex-basis: 50%;
}
.details > h1{
    margin-bottom: 20px;
}
.details > P{
    width: 32rem;
    letter-spacing: 1px;
    line-height:1.75rem;
}
#service{
    background-color:gray;
    width: 100%;
    padding: 2rem 0 2rem 12rem ;
}
#service > p{
   font-size: 25px;
   color: blue;
}

#service > h1{
    font-size: 3em;
    font-weight: 500;
    color:rgb(15, 160, 64);
}
#service > h1:hover{
  background-color: #feca57;
  display: inline;
  border-radius: 5px;
  padding: 3px 7px;
}
.content{
    display:flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    flex-wrap: wrap;

}
.service-section{
    flex-basis: 30%;
    border: 1px solid #ddd;
    margin: 1%;
    background-color: #ddd;
    padding: 1%;
    box-shadow: 1px 1px 3px 3px #ddd;
    text-align: center;
}

.service-section > h1{
    font-size: 28px;
    padding: 5px;
    font-weight:normal;
    color: rgb(80, 22, 166);
    border-bottom: 2px solid yellow;
}
.service-section > p{
    font-size: 16px;
}
.service-section > i{
    background-color: brown;
    border-radius: 50%;
    padding:1rem;
}
.service-section:hover h1{
    color: #000;
}
.service-section:hover p{
    color: #000;
}
.service-section:hover i{
    background-color: #feca57;
}

.service-section:hover{
    background-color: aqua;
}

/*  Reeview section */

.parents-review{
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.parents-review img{
    width: 100px;
}
.child-icon{
    text-align: center;
    display: block;
    font-size: 2rem;
    padding: 2rem;
    color: aqua;
}
.child-mass {
    color: black;
    font-size: 1.65rem;
    font-weight: 500;
    line-height: 3rem;
}
.child-mass > p{
    width: 40rem;
    margin: 0 auto;
}
.child-image{
    padding-top: 2rem;
    
}
.child-image > h3{
    font-size: 14px;
    font-weight: 500;

}

/* Blog Section style */
#blog-container{
    background-color:#ffeaa7;
    width: 100%;
    padding: 2rem 0 2rem 12rem ;
}
#blog-container > h1 {
    color: rgb(22, 26, 13);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    display: inline;
}
#blog-container > h1:hover{
    background-color: #feca57;
    border-radius: 5px;
    padding: 3px 15px;
    color:aqua;
}

#blog-container > p{
    font-size: 28px;
    color:#000;
}
.blog-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blog-content{
    background-color: #fab1a0;
    margin: 1%;
    text-align: center;
    padding: 2%;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 3px #f3f3f3;
}

.blog-content > h1{
    color: #0e0f10;
    font-size: 22px;
    padding: 10px 0;
}
.blog-content > p{
    color: #0e0f10;
    font-size: 18px;
    padding: 4px 0;
    line-height: 1.75em;
}

.blog-content img{
    width: 250px;
}
.blog-content .pic{
    width: 200px;
    height: 190px;
}

.blog-content [type="button"]{
    background-color: #feca57;
    color: rgb(21, 20, 20);
    padding: 3px 13px;
    border-radius: 7px;
    border: 1px solid #ddd;
    font-size: 18px;
}
.blog-content [type="button"]:hover{
    background: #000;
    color: #ddd;
}